
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutMain.cshtml";
}

<div class="row">
    <div class="col-sm-3">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default text-center">
                    <div class="panel-heading" style="background-color:darkslategray; color:whitesmoke;">Profil</div>
                    <div class="panel-body">
                        <div class="col-sm-3">
                            <img src="http://api.randomuser.me/portraits/thumb/men/19.jpg" class="img-circle" height="65" width="65" alt="Avatar">
                        </div>
                        <div class="col-sm-9">
                            <p><b>AD SOYAD</b></p>
                            <p><a href="#">kullaniciadi</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default text-center">
                    <div class="panel-heading" style="background-color:darkslategray; color:whitesmoke;">Etiketler</div>
                    <div class="panel-body">
                        <p>
                            <span class="label label-default">csharp</span>
                            <span class="label label-primary">java</span>
                            <span class="label label-success">aspnet</span>
                            <span class="label label-info">c</span>
                            <span class="label label-warning">javascript</span>
                            <span class="label label-danger">html</span>
                            <span class="label label-default">csharp</span>
                            <span class="label label-primary">java</span>
                            <span class="label label-success">aspnet</span>
                            <span class="label label-info">c</span>
                            <span class="label label-warning">javascript</span>
                            <span class="label label-danger">html</span>
                            <span class="label label-default">csharp</span>
                            <span class="label label-primary">java</span>
                            <span class="label label-success">aspnet</span>
                            <span class="label label-info">c</span>
                            <span class="label label-warning">javascript</span>
                            <span class="label label-danger">html</span>
                            <span class="label label-default">csharp</span>
                            <span class="label label-primary">java</span>
                            <span class="label label-success">aspnet</span>
                            <span class="label label-info">c</span>
                            <span class="label label-warning">javascript</span>
                            <span class="label label-danger">html</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body text-left">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Hakkımızda</a></li>
                            <li><a href="#">SSS</a></li>
                            <li><a href="#">İletişim</a></li>
                        </ul>
                        <div class="text-center">

                            <a class="btn btn-social-icon btn-facebook">
                                <span class="fa fa-twitter"></span>
                            </a>
                            <a class="btn btn-social-icon btn-twitter">
                                <span class="fa fa-twitter"></span>
                            </a>
                            <a class="btn btn-social-icon btn-github">
                                <span class="fa fa-github"></span>
                            </a>
                            <a class="btn btn-social-icon btn-bitbucket">
                                <span class="fa fa-bitbucket"></span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <button class="btn btn-danger btn-block btn-lg">Soru sor</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <div class="btn-group btn-group-justified">
                            <a href="#" class="btn btn-default">Tarih'e Göre</a>
                            <a href="#" class="btn btn-default">En Çok Beğenilenler</a>
                            <a href="#" class="btn btn-default">Cevapsız Sorular</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <div class="col-sm-2">
                            <div id="topic" class="upvote">
                                <a class="upvote"></a>
                                <span class="count">0</span>
                                <a class="downvote"></a>
                                <a class="star"></a>
                            </div>
                        </div>
                        <div class="col-sm-9 text-left">
                            <h4>14 Useful Sites for Designers</h4>
                            <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it.</p>
                            <h5><span class="label label-default">java</span></h5>
                            <h4 class="pull-right">
                                <small class="text-muted">2 days ago • <a href="#" class="text-muted">Read More</a></small>
                            </h4>
                        </div>
                        <div class="col-sm-1">
                            <a href="#" class="pull-right"><img src="http://api.randomuser.me/portraits/thumb/men/19.jpg" class="img-circle"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <div class="col-sm-2">
                            <div id="topic" class="upvote">
                                <a class="upvote"></a>
                                <span class="count">0</span>
                                <a class="downvote"></a>
                                <a class="star"></a>
                            </div>
                        </div>
                        <div class="col-sm-9 text-left">
                            <h4>14 Useful Sites for Designers</h4>
                            <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it.</p>
                            <h5><span class="label label-default">java</span></h5>
                            <h4 class="pull-right">
                                <small class="text-muted">2 days ago • <a href="#" class="text-muted">Read More</a></small>
                            </h4>
                        </div>
                        <div class="col-sm-1">
                            <a href="#" class="pull-right"><img src="http://api.randomuser.me/portraits/thumb/men/19.jpg" class="img-circle"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <div class="col-sm-2">
                            <div id="topic" class="upvote">
                                <a class="upvote"></a>
                                <span class="count">0</span>
                                <a class="downvote"></a>
                                <a class="star"></a>
                            </div>
                        </div>
                        <div class="col-sm-9 text-left">
                            <h4>14 Useful Sites for Designers</h4>
                            <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it.</p>
                            <h5><span class="label label-default">java</span></h5>
                            <h4 class="pull-right">
                                <small class="text-muted">2 days ago • <a href="#" class="text-muted">Read More</a></small>
                            </h4>
                        </div>
                        <div class="col-sm-1">
                            <a href="#" class="pull-right"><img src="http://api.randomuser.me/portraits/thumb/men/19.jpg" class="img-circle"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <div class="col-sm-2">
                            <div id="topic" class="upvote">
                                <a class="upvote"></a>
                                <span class="count">0</span>
                                <a class="downvote"></a>
                                <a class="star"></a>
                            </div>
                        </div>
                        <div class="col-sm-9 text-left">
                            <h4>14 Useful Sites for Designers</h4>
                            <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it.</p>
                            <h5><span class="label label-default">java</span></h5>
                            <h4 class="pull-right">
                                <small class="text-muted">2 days ago • <a href="#" class="text-muted">Read More</a></small>
                            </h4>
                        </div>
                        <div class="col-sm-1">
                            <a href="#" class="pull-right"><img src="http://api.randomuser.me/portraits/thumb/men/19.jpg" class="img-circle"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:darkslategray; color:whitesmoke;">Bize Katılın</div>
                    <div class="panel-body">
                        <div class="text-center social-btn">
                            <a href="#" class="btn btn-primary btn-block"><i class="fa fa-facebook"></i> <b>Facebook</b> ile Giriş </a>
                            <a href="#" class="btn btn-danger btn-block"><i class="fa fa-google"></i> <b>Google</b> ile Giriş</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:darkslategray; color:whitesmoke;">Son Haberler</div>
                    <div class="panel-body text-left">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">First List Group Item Heading</h5>
                                <p class="list-group-item-text">List Group Item Text</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">Second List Group Item Heading</h5>
                                <p class="list-group-item-text">List Group Item Text</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">Third List Group Item Heading</h5>
                                <p class="list-group-item-text">List Group Item Text</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

